<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{.Num}}
    {{.Num | fdbl}}
    {{.Num | fdbl |fsq}}
    {{.Num | fdbl |fsq |fsqrt}}
    {{.Curr_time |fdmy}}

  </body>
</html>
